body {
    font-family: monospace, "Times New Roman", serif;
    background-color: #202124;
    color:aliceblue
}
div.bitsClass p {
    margin-bottom: 16px;
}
hr {
    width: 30%;
}
li {
    padding-bottom: 10px;
    margin-top: 0px;
}
p {
    margin-bottom: 0px;
}
ul {
    margin-top: 8px;
    margin-bottom: 8px;
}
button {
    font-family: monospace, "Times New Roman", serif;
}