body {
    zoom: 230%; /*Does work in Chrome but not Firefox*/
    font-family: monospace, "Times New Roman", serif;
    background-color: #202124;
    color:aliceblue
}
div.bitsClass p {
    margin-bottom: 16px;
}
div.cpuClass li {
    list-style: none;
}
div.gpuClass li {
    list-style: none;
}
hr {
    width: 45%;
}
li {
    padding-bottom: 10px;
    margin-top: 0px;
}
p {
    margin-bottom: 0px;
}
ul {
    margin-top: 8px;
    margin-bottom: 8px;
}
button {
    font-family: monospace, "Times New Roman", serif;
}